iframe {
    border: 1px solid black;
    width: 100%; /* takes precedence over the width set with the HTML width attribute */
  }
h1 {
    text-align: center;
    margin-bottom: 0px;
}
#menu {
    float: right;
    width: 200px;
    border: 3px solid #73AD21;
    padding: 0px;
}